<div id="map-canvas"
     data-controller="map"
     data-map-api-key-value="<%= @api_key %>"
     data-map-center-lat-value="<%= @map.center_lat %>"
     data-map-center-lng-value="<%= @map.center_lng %>"
     data-map-zoom-value="<%= @map.zoom %>"
     data-map-readonly-value="true"
     data-map-markers-value="<%= @map.markers.select(:id, :lat, :lng, :title, :description, :color).to_json %>"
     <% if @map.style_json.present? %>
       data-map-style-json-value="<%= @map.style_json %>"
     <% end %>
     <% if @map.google_map_id.present? %>
       data-map-google-map-id-value="<%= @map.google_map_id %>"
     <% end %>
     class="w-screen h-screen">
</div>
