<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= @map&.title || "MapWise" %></title>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <% if @api_key.present? %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= @api_key %>&libraries=marker,places,geometry&v=weekly" async defer></script>
  <% end %>
</head>
<body class="m-0 p-0 overflow-hidden">
  <%= yield %>
</body>
</html>
